.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0EAD6;
  overflow-x: scroll;
  width: 100vw;
}
.subtext {
  display: flex;
  font-size: large;
  font-family: 'Overused Grotesk';
  font-size: 16pt;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F0EAD6;
}
.logo {
  align-items: center;
  justify-content: center;
  display: block;
  max-width: 100vw;
  max-height: 100vw;
}
.rotating {
  display: flex
}
.current {
  position:absolute;
  font-size: large;
  background-color: #F0EAD6;
  font-family: 'Overused Grotesk';
  font-size: 32pt;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  margin-top: 1vh;
  margin-left: 1vh;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
@media (max-width: 768px) {
  .subtext {
    display: block; 
    position: fixed;
    font-size: 14pt;
    bottom: 10vh;
    left: 0;
    text-align: center;
    width: 100%;
  }
  .socials {
    display: block; 
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
  }
}
